<h2>Bienvenue sur notre réseau social de pangolins !</h2>
<p>Ici, vous pourrez vous connecter, vous inscrire, gérer votre profil et ajouter des amis pangolins.</p>

<div>
  <a routerLink="/profile">Accéder à mon profil</a>
</div>

<div>
  <a routerLink="/friends">Voir mes amis</a>
</div>

<h2>Profils</h2>
<ul>
  <li *ngFor="let profile of profiles">
    {{ profile.username }} - {{ profile.role }}
    <button (click)="addFriend(profile._id)">Add Friend</button>
  </li>
</ul>

<a routerLink="/login">deconnexion</a>